<!-- footer -->
<footer class="footer">
	<div class="group--prefooter">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="group--newsletter" newsletter-proposition action="/giorgetti/newsletter.html">
						<div class="newsletter__title">Entra nel mondo Giorgetti</div>
						<div class="newsletter__abstract">Resta aggiornato su eventi, collezioni e novità esclusive</div>
						<form class="form" [formGroup]="form" (submit)="onNewsletter($event)" name="form" role="form" novalidate autocomplete="off">
							<div class="group--controls">
								<div class="controls__email">
									<div control-email [control]="controls.email" [label]="'e-mail'"></div>
								</div>
								<div class="controls__cta">
									<button type="submit" class="btn--submit">Iscriviti</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="group--social">
						<div class="social__title">Seguici</div>
						<div class="social__abstract">Lorem ipsum dolor sit</div>
						<ul class="nav--social">
							<li class="nav__item">
								<a href="https://www.instagram.com/giorgettiofficial/" target="_blank" aria-label="social-link-instagram" rel="me"><svg class="instagram"><use xlink:href="#instagram"></use></svg></a>
							</li>
							<li class="nav__item">
								<a href="https://www.youtube.com/channel/UCoE9AlLZLvTTRlEIcNArZxQ" target="_blank" aria-label="social-link-youtube" rel="me"><svg class="youtube"><use xlink:href="#youtube"></use></svg></a>
							</li>
							<li class="nav__item">
								<a href="https://it.pinterest.com/giorgettiofficial/" target="_blank" aria-label="social-link-pinterest" rel="me"><svg class="pinterest"><use xlink:href="#pinterest"></use></svg></a>
							</li>
							<li class="nav__item">
								<a href="https://it.linkedin.com/company/giorgetti-spa" target="_blank" aria-label="social-link-linkedin" rel="me"><svg class="linkedin"><use xlink:href="#linkedin"></use></svg></a>
							</li>
							<li class="nav__item">
								<a href="/giorgetti/img/footer/giorgetti-wechat-qr.jpg" target="_blank" aria-label="social-link-wechat" rel="me"><svg class="wechat"><use xlink:href="#wechat"></use></svg></a>
							</li>
							<li class="nav__item">
								<a href="https://www.facebook.com/GiorgettiOfficial" target="_blank" aria-label="social-link-facebook" rel="me"><svg class="facebook"><use xlink:href="#facebook"></use></svg></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="group--giorgetti-battaglia">
		<div class="container">
			<div class="group--logo">
				<a href="#" class="btn--logo"><svg class="giorgetti-battaglia"><use xlink:href="#giorgetti-battaglia"></use></svg></a>
			</div>
		</div>
	</div>
	<div class="group--footer-menu">
		<div class="container">
			<div class="row">
				<div class="col-6 col-md-3 col-lg-2">
					<ul class="nav--footer-menu">
						<li class="nav__item nav__item--title"><a href="#">Area Clienti</a></li>
						<li class="nav__item"><a href="#">My Account</a></li>
						<li class="nav__item"><a href="#">Storico ordini</a></li>
					</ul>
				</div>
				<div class="col-6 col-md-3 col-lg-2">
					<ul class="nav--footer-menu">
						<li class="nav__item nav__item--title"><a href="#">Termini e Condizioni</a></li>
						<li class="nav__item"><a href="#">Diritto di recesso</a></li>
						<li class="nav__item"><a href="#">Condizioni di vendita</a></li>
						<li class="nav__item"><a href="#">Modalità di pagamento</a></li>
						<li class="nav__item"><a href="#">Modalità di spedizione</a></li>
					</ul>
				</div>
				<div class="col-6 col-md-3 col-lg-2">
					<ul class="nav--footer-menu">
						<li class="nav__item nav__item--title"><a href="#">Azienda</a></li>
						<li class="nav__item"><a href="#">Giorgetti</a></li>
						<li class="nav__item"><a href="#">Contatti uffici</a></li>
						<li class="nav__item"><a href="/giorgetti/careers.html">Lavora con noi</a></li>
						<li class="nav__item"><a href="#">battagliacontract.com</a></li>
						<li class="nav__item"><a href="#">Product information card</a></li>
					</ul>
				</div>
				<div class="col-6 col-md-3 col-lg-2">
					<ul class="nav--footer-menu">
						<li class="nav__item nav__item--title"><a href="#">Contatti e Privacy</a></li>
						<li class="nav__item"><a href="/giorgetti/contacts.html">Contatti</a></li>
						<li class="nav__item"><a href="#">Servizio clienti</a></li>
						<li class="nav__item"><a href="/giorgetti/generic.html">Privacy e sicurezza</a></li>
						<li class="nav__item"><a href="/giorgetti/generic.html">Cookie policy</a></li>
					</ul>
				</div>
				<div class="col-lg-4">
					<div class="card--product-card">
						<div class="card__content">
							<div class="card__title">Product Card Giorgetti</div>
							<div class="card__abstract">Giorgetti ha deciso di sostituire le sue tradizionali schede prodotto cartacee con una card digitale</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="group--company">
		<div class="container">
			<div class="text">
				<p>GIORGETTI S.P.A.</p>
				<p>Via Manzoni 20 Meda 20821 (MB), - Tel. +39.0362.75275 - Fax +39.0362.75575</p>
				<p>P.Iva 00695300962 - Capitale Sociale Euro 1.000.000 Nr. REA 530535 CCIAA Monza e Brianza</p>
			</div>
		</div>
	</div>
	<div class="group--colophon">
		<div class="container">
			<div class="flex--colophon">
				<ul class="nav--colophon">
					<li class="nav__item"><a href="/giorgetti/generic.html">Privacy Policy</a></li>
					<li class="nav__item"><a href="/giorgetti/generic.html">Cookie</a></li>
					<li class="nav__item"><a href="/giorgetti/generic.html">Modello organizzativo 231</a></li>
					<li class="nav__item"><a href="/giorgetti/generic.html">Bilancio di sostenibilità</a></li>
					<li class="nav__item"><a href="/giorgetti/careers.html">Lavora con noi</a></li>
				</ul>
				<a href="https://www.websolute.com" target="_blank" class="btn--websolute" title="Digital Marketing"><svg class="websolute"><use xlink:href="#websolute"></use></svg></a>
			</div>
		</div>
	</div>
</footer>
