<!-- header -->
<header class="header" header>
	<div class="container">
		<div class="group--header">
			<div class="group--language">
				<ul class="nav--language">
					<li class="nav__item"><a href="#">Italia | IT</a></li>
				</ul>
			</div>
			<div class="group--logo">
				<a href="#" class="btn--logo"><svg class="giorgetti"><use xlink:href="#giorgetti"></use></svg></a>
			</div>
			<div class="group--service">
				<ul class="nav--service">
					<li class="nav__item">
						<a href="#"><svg class="user"><use xlink:href="#user"></use></svg></a>
					</li>
					<li class="nav__item">
						<a href="#"><svg class="pin"><use xlink:href="#pin"></use></svg></a>
					</li>
					<li class="nav__item">
						<a href="#"><svg class="search"><use xlink:href="#search"></use></svg></a>
					</li>
					<li class="nav__item">
						<a href="#"><svg class="cart"><use xlink:href="#cart"></use></svg></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="group--main">
			<ul class="nav--main">
				<li class="nav__item"><a href="#">Collezione</a></li>
				<li class="nav__item"><a href="#">Ambienti</a></li>
				<li class="nav__item"><a href="#">Giorgetti World</a></li>
				<li class="nav__item"><a href="/giorgetti/news.html">News</a></li>
				<li class="nav__item"><a href="/giorgetti/projects.html">Progetti</a></li>
			</ul>
		</div>
	</div>
</header>
