<!-- header -->
<header class="header" header>
	<div class="container">
		<div class="group--header">
			<div class="group--language">
				<ul class="nav--language">
					<li class="nav__item"><a href="#">Italia | IT</a></li>
				</ul>
			</div>
			<div class="group--logo">
				<a href="#" class="btn--logo"><svg class="giorgetti"><use xlink:href="#giorgetti"></use></svg></a>
			</div>
			<div class="group--service">
				<ul class="nav--service">
					<li class="nav__item">
						<a href="#"><svg class="user"><use xlink:href="#user"></use></svg></a>
					</li>
					<li class="nav__item">
						<a href="/giorgetti/store-locator.html"><svg class="pin"><use xlink:href="#pin"></use></svg></a>
					</li>
					<li class="nav__item">
						<a href="#"><svg class="events"><use xlink:href="#events"></use></svg></a>
					</li>
					<li class="nav__item">
						<a href="#"><svg class="search"><use xlink:href="#search"></use></svg></a>
					</li>
					<li class="nav__item">
						<a href="#"><svg class="cart"><use xlink:href="#cart"></use></svg></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="group--main">
			<ul class="nav--main">
				<li class="nav__item"><a href="/giorgetti/products.html" menu="1">Collezione</a></li>
				<li class="nav__item"><a href="/giorgetti/ambience.html" menu="2">Ambienti</a></li>
				<li class="nav__item"><span menu="3">Giorgetti World</span></li>
				<li class="nav__item"><a href="/giorgetti/news.html" menu="4">News</a></li>
				<li class="nav__item"><a href="/giorgetti/projects.html" menu="5">Progetti</a></li>
			</ul>
			<div class="group--submenus">
				<div class="group--submenu" submenu id="menu-1">
					<div class="container">
						<ul class="nav--submenu">
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-01.jpg">Sedie e sgabelli</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-02.jpg">Poltrone</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-03.jpg">Poltrone da ufficio</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-04.jpg">Pouf e panche</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-05.jpg">Divani</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-06.jpg">Tavolini e carrelli</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-07.jpg">Tavoli</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-08.jpg">Scrittoi e vanity</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-09.jpg">Contenitori e librerie</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-10.jpg">Sistemi</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-11.jpg">Letti</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-12.jpg">Comodini</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-13.jpg">Armadi e cabine</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-14.jpg">Complementi</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-15.jpg">Cucine e accessori</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-16.jpg">Open air</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html" data-picture="/giorgetti/img/menu/collections/preview-17.jpg">Complementi atmosphere</a></li>
							<li class="nav__item"><a href="/giorgetti/products.html">Tutti i prodotti</a></li>
						</ul>
						<div class="group--picture">
							<img src="/giorgetti/img/menu/collections/preview-01.jpg" data-target />
						</div>
					</div>
				</div>
				<div class="group--submenu" submenu id="menu-2">
					<div class="container">
						<ul class="nav--submenu">
							<li class="nav__item"><a href="/giorgetti/ambience.html" data-picture="/giorgetti/img/menu/collections/preview-01.jpg">Living</a></li>
							<li class="nav__item"><a href="/giorgetti/ambience.html" data-picture="/giorgetti/img/menu/collections/preview-02.jpg">Dining</a></li>
							<li class="nav__item"><a href="/giorgetti/ambience.html" data-picture="/giorgetti/img/menu/collections/preview-03.jpg">Home office</a></li>
							<li class="nav__item"><a href="/giorgetti/ambience.html" data-picture="/giorgetti/img/menu/collections/preview-04.jpg">Hall-entrance</a></li>
							<li class="nav__item"><a href="/giorgetti/ambience.html" data-picture="/giorgetti/img/menu/collections/preview-05.jpg">Bedroom</a></li>
							<li class="nav__item"><a href="/giorgetti/ambience.html" data-picture="/giorgetti/img/menu/collections/preview-06.jpg">Dressing</a></li>
							<li class="nav__item"><a href="/giorgetti/ambience.html" data-picture="/giorgetti/img/menu/collections/preview-07.jpg">Kitchen</a></li>
							<li class="nav__item"><a href="/giorgetti/ambience.html" data-picture="/giorgetti/img/menu/collections/preview-08.jpg">Pool and garden</a></li>
							<li class="nav__item"><a href="/giorgetti/ambience.html" data-picture="/giorgetti/img/menu/collections/preview-09.jpg">Public</a></li>
						</ul>
						<div class="group--picture">
							<img src="/giorgetti/img/menu/collections/preview-01.jpg" data-target />
						</div>
					</div>
				</div>
				<div class="group--submenu" submenu id="menu-3">
					<div class="container">
						<ul class="nav--submenu">
							<li class="nav__item"><a href="#" data-picture="/giorgetti/img/menu/collections/preview-01.jpg">Identità</a></li>
							<li class="nav__item"><a href="/giorgetti/history.html" data-picture="/giorgetti/img/menu/collections/preview-02.jpg">Storia</a></li>
							<li class="nav__item"><a href="/giorgetti/prizes.html" data-picture="/giorgetti/img/menu/collections/preview-03.jpg">Premi</a></li>
							<li class="nav__item"><a href="/giorgetti/designers.html" data-picture="/giorgetti/img/menu/collections/preview-04.jpg">Designer</a></li>
							<li class="nav__item"><a href="/giorgetti/materials.html" data-picture="/giorgetti/img/menu/collections/preview-05.jpg">Materiali</a></li>
							<li class="nav__item"><a href="#" data-picture="/giorgetti/img/menu/collections/preview-06.jpg">Giorgetti 120th</a></li>
							<li class="nav__item"><a href="/giorgetti/ateliers-and-stores.html" data-picture="/giorgetti/img/menu/collections/preview-07.jpg">Giorgetti Stores & Ateliers</a></li>
							<li class="nav__item"><a href="#" data-picture="/giorgetti/img/menu/collections/preview-08.jpg">Giorgetti Canale</a></li>
						</ul>
						<div class="group--picture">
							<img src="/giorgetti/img/menu/collections/preview-01.jpg" data-target />
						</div>
					</div>
				</div>
				<div class="group--submenu" submenu id="menu-4">
					<div class="container">
						<ul class="nav--submenu">
							<li class="nav__item"><a href="/giorgetti/news.html" data-picture="/giorgetti/img/menu/collections/preview-01.jpg">News</a></li>
							<li class="nav__item"><a href="/giorgetti/news.html" data-picture="/giorgetti/img/menu/collections/preview-02.jpg">Magazine / Journal</a></li>
						</ul>
						<div class="group--picture">
							<img src="/giorgetti/img/menu/collections/preview-01.jpg" data-target />
						</div>
					</div>
				</div>
				<div class="group--submenu" submenu id="menu-5">
					<div class="container">
						<ul class="nav--submenu">
							<li class="nav__item"><a href="/giorgetti/projects.html" data-picture="/giorgetti/img/menu/collections/preview-01.jpg">Corporate</a></li>
							<li class="nav__item"><a href="/giorgetti/projects.html" data-picture="/giorgetti/img/menu/collections/preview-02.jpg">Hospitality</a></li>
							<li class="nav__item"><a href="/giorgetti/projects.html" data-picture="/giorgetti/img/menu/collections/preview-03.jpg">Marine</a></li>
							<li class="nav__item"><a href="/giorgetti/projects.html" data-picture="/giorgetti/img/menu/collections/preview-04.jpg">Residential</a></li>
							<li class="nav__item"><a href="/giorgetti/projects.html" data-picture="/giorgetti/img/menu/collections/preview-05.jpg">Retail Boutiques</a></li>
							<!-- <li class="nav__item"><a href="/giorgetti/projects.html" data-picture="/giorgetti/img/menu/collections/preview-06.jpg">Link sito battaglia?</a></li> -->
						</ul>
						<div class="group--picture">
							<img src="/giorgetti/img/menu/collections/preview-01.jpg" data-target />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
