<div class="section--form" products-detail-request [product]="product">
	<div class="container" *if="!success">
		<div class="title"><span [innerHTML]="product.title"></span>.<br>Richiesta informazioni</div>
		<div class="abstract">Completa il form per richiedere informazioni sul prodotto <span [innerHTML]="product.title"></span>.</div>
		<form class="form" [formGroup]="form" (submit)="onSubmit($event)" name="form" role="form" novalidate autocomplete="off">
			<div class="listing--form-compact">
				<input name="checkField" [formControl]="controls.checkField" value="" type="text" style="display:none !important;" />
				<!---->
				<div class="full" control-custom-select [control]="controls.reason" label="Sono interessato a"></div>
				<!---->
				<div control-text [control]="controls.firstName" label="Nome"></div>
				<div control-text [control]="controls.lastName" label="Cognome"></div>
				<div control-text [control]="controls.email" label="Email"></div>
				<div control-text [control]="controls.telephone" label="Telefono"></div>
				<div control-text [control]="controls.company" label="Azienda"></div>
				<div control-custom-select [control]="controls.occupation" label="Professione"></div>
				<div control-custom-select [control]="controls.country" label="Paese"></div>
				<div control-text [control]="controls.city" label="Città"></div>
				<!---->
				<div control-textarea [control]="controls.message" label="Messaggio"></div>
				<!---->
				<div class="full" control-checkbox [control]="controls.privacy" label="Ho letto l&amp;#39;&amp;lt;a href=&amp;quot;/it/it/privacy-policy&amp;quot; target=&amp;quot;_blank&amp;quot;&gt;informativa&amp;lt;/a&gt; e do il consenso al trattamento del dato"></div>
				<div class="full" control-privacy [control]="controls.newsletter" label="Al trattamento dei miei dati personali per attività di marketing diretto tramite iscrizione a newsletter."></div>
				<div control-custom-select [control]="controls.newsletterLanguage" label="Lingua della newsletter" *if="controls.newsletter.value"></div>
				<div class="full" control-privacy [control]="controls.commercial" label="Al trattamento dei miei dati personali per attività di profilazione, al fine di proporle comunicazioni commerciali più vicine ai miei interessi."></div>
				<div class="full" control-privacy [control]="controls.promotion" label="Alla cessione dei miei dati personali per attività promozionali di terzi. I soggetti terzi a cui i dati saranno ceduti sono unicamente Società del gruppo."></div>
			</div>
			<div class="group--error" *if="error">
				<span class="status-code" [innerHTML]="error.statusCode"></span>
				<span class="status-message" [innerHTML]="error.statusMessage"></span>
				<span class="friendly-message" [innerHTML]="error.friendlyMessage"></span>
			</div>
			<div class="group--cta">
				<button type="submit" class="btn--submit" data-title="Invia" *if="!form.submitted">
					<span>Invia</span>
				</button>
				<button type="submit" class="btn--submit" data-title="Inviato!" *if="form.submitted">
					<span>Inviato!</span>
				</button>
			</div>
			<test-component [form]="form" (test)="test($event)" (reset)="reset($event)"></test-component>
		</form>
	</div>
	<div class="container" *if="success">
		<div class="magazine-request__content">
			<div class="title">Richiesta Inviata</div>
			<div class="abstract">Grazie! Verrai contattato il prima possibile.</div>
		</div>
	</div>
</div>
