<div class="section--form" user-signin (signIn)="onSignIn($event)" (viewForgot)="onViewForgot($event)" (viewSignUp)="onViewSignUp($event)">
	<div class="container">
		<form class="form" [formGroup]="form" (submit)="onSubmit()" name="form" role="form" novalidate autocomplete="off">
			<div class="title">Login</div>
			<div class="abstract">Effettua il login per scaricare cataloghi, immagini e altri strumenti relativi ai prodotti Giorgetti.</div>
			<div class="listing--form-compact">
				<input name="checkField" [formControl]="controls.checkField" value="" type="text" style="display:none !important;" />
				<div control-text [control]="controls.email" label="Email"></div>
				<div control-password [control]="controls.password" label="Password"></div>
			</div>
			<div class="group--error" *if="error">
				<span class="status-code" [innerHTML]="error.statusCode"></span>
				<span class="status-message" [innerHTML]="error.statusMessage"></span>
				<span class="friendly-message" [innerHTML]="error.friendlyMessage"></span>
			</div>
			<div class="group--cta">
				<button type="submit" class="btn--submit" data-title="Accedi" *if="!form.submitted">
					<span>Accedi</span>
				</button>
				<button type="submit" class="btn--submit" data-title="Inviato!" *if="form.submitted">
					<span>Inviato!</span>
				</button>
			</div>
		</form>
		<div class="group--info">
			<p>Non riesci ad accedere?</p>
			<button type="button" class="btn--link" (click)="onForgot($event)"><span>Recupera Password</span></button>
		</div>
		<!-- <test-component [form]="form" (test)="test($event)" (reset)="reset($event)"></test-component> -->
	</div>
</div>
