.section--ateliers-and-stores-detail {
	padding: 0 0 80px 0;

	.title {
		margin-bottom: 30px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: -0.027em;
		text-transform: uppercase;
		color: #232221;

		em {
			display: block;
			font-style: normal;
			color: #6A6A6A;
		}
	}

	.abstract {
		margin-bottom: 100px;
		font-size: 18px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: -0.027em;
		text-transform: uppercase;
		color: #232221;
	}
}

.section--map {
	padding: 80px 0;
	background: $background-tertiary;

	.title {
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.1;
		text-align: center;
		letter-spacing: -0.027em;
		text-transform: uppercase;
	}

	.map {
		@include aspect-clip(2, 1);
		margin: 80px 00;
	}

}

.group--address {
	.address__title {
		margin-bottom: 40px;
		font-family: $font-secondary;
		font-size: 32px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: -0.027em;
		text-transform: uppercase;
	}

	.address__text {
		font-size: 18px;
		line-height: 1.2;
		text-align: center;

		a {
			@extend %btn-link;
		}
	}
}
