.section--breadcrumb {
	position: relative;
	z-index: 2;

	@include media-up(sm) {
		padding: 30px 0;
	}

	@include media-down(xs) {
		padding: 15px 0;
	}
}

.nav--breadcrumb {
	@extend %nav;

	&>.nav__item {
		display: flex;
		align-items: center;
		white-space: nowrap;
		font-size: 12px;
		color: $foreground-secondary;

		&:last-child {
			color: $foreground;
		}
	}

	&>.nav__item+.nav__item {
		&:before {
			content: '/';
			padding: 0 0.4em;
		}
	}

	@include media-down(xs) {
		flex-wrap: wrap;
	}
}
