.section--breadcrumb {
	padding: 30px 0;
}

.nav--breadcrumb {
	@extend %nav;

	&>.nav__item {
		display: flex;
		align-items: center;
		white-space: nowrap;
		font-size: 12px;
		color: $foreground-secondary;

		&:last-child {
			color: $foreground;
		}
	}

	&>.nav__item+.nav__item {
		&:before {
			content: '/';
			padding: 0 0.4em;
		}
	}
}
