.card--cart-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&>.card__picture {
		display: block;
		@include aspect-clip(1, 1);
		margin-bottom: 20px;
		cursor: pointer;

		img {
			transition: transform ease-in-out $fast;
			transform-origin: bottom;
			object-fit: contain;
			object-position: 50% 100%;
			background: $background;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000000;
			opacity: 0.03;
		}

		.over {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 15px;
			opacity: 0;
			background: rgba(53, 48, 44, 0.4);
			pointer-events: none;
			transition: opacity ease-in-out $fast;

			&__title {
				margin-top: 20px;
				font-family: $font-secondary;
				font-size: 19px;
				line-height: 1.2;
				text-align: center;
				letter-spacing: -0.041em;
				text-transform: uppercase;
				color: $foreground-negative;
			}
		}

		.price {
			position: absolute;
			top: 10px;
			right: 10px;
			padding: 3px 8px;
			font-size: 14px;
			line-height: 1;
			border-radius: 10px;
			background: $background-negative;
			color: $foreground-negative;
		}
	}

	.card__title {
		@extend %btn;
		display: block;
		font-size: 14px;
		line-height: 1.2;
		text-transform: uppercase;

		&>em {
			font-style: normal;
			color: #6a6a6a;
		}
	}

	&:hover {

		&>.card__picture {
			img {
				transform: scale(1.1, 1.1);
			}

			.over {
				opacity: 1;
			}
		}
	}

	&>.card__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.card__cta {
		display: flex;
		align-items: center;
		@include unselectable();
	}

	.count {
		font-size: 16px;
		line-height: 1;
		padding: 4px 10px;
		margin: 0 8px;
		background: #f8f8f8;
	}

	.btn--action {
		@extend %btn;
		line-height: 1;

		svg {
			width: 18px;
			height: 18px;
		}

		.add,
		.remove {
			margin-bottom: -1px;
		}
	}

	.btn--action+.btn--action {
		margin-left: 10px;
	}

}

.section--cart-mini {
	position: fixed;
	padding: 15px 0;
	width: 300px;
	top: 0;
	z-index: 1000;
	background: $background;
	border-left: 1px solid $background-tertiary;
	overflow: hidden;

	&>.container {
		height: 100%;
	}

	.title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: $font-secondary;
		font-size: 24px;
		line-height: 1.2;
		letter-spacing: -0.027em;
		text-transform: uppercase;
		color: #232221;

		&>span>em {
			font-style: normal;
			color: #6A6A6A;
		}

		@include media-down(sm) {
			font-size: 14px;
		}
	}

	.abstract {
		margin-top: 57px;
	}

	.group--recap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 20px 0;
		line-height: 1;

		.price {
			padding: 5px 10px;
			border-radius: 15px;
			background: $background-negative;
			color: $foreground-negative;
		}
	}

	.btn--close {
		@include btn(rgba(255, 255, 255, 0.2), $foreground, $background, $foreground, rgba(255, 255, 255, 0.4), #232221);

		svg {
			width: 20px;
			height: 20px;
			line-height: 1;
			fill: currentColor;
		}
	}

	.btn--buy {
		@extend %btn-primary;

		display: flex;
		width: 100%;
		min-width: 0 !important;

		@include media-down(sm) {
			padding: 5px;
			font-size: 12px;
		}
	}

	.btn--secondary {
		@extend %btn-secondary;

		display: flex;
		width: 100%;
		min-width: 0 !important;

		@include media-down(sm) {
			padding: 5px;
			font-size: 12px;
		}
	}

	.btn--buy+.btn--secondary {
		margin-top: 10px;
	}

	.card--cart-item {
		padding: 0 0 10px 0;

		.card__name {
			font-size: 14px;
		}
	}

	@include media-up(sm) {
		height: 100vh;
		right: -300px;
	}

	@include media-down(xs) {
		height: calc(100vh - 80px);
		right: 0;
	}
}

.group--cart-mini {
	display: flex;
	flex-direction: column;
	height: 100%;

	.listing--cart-mini {
		flex: 1 0 calc(100% - 300px);
	}
}

.listing--cart-mini {
	padding-top: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	@include scrollbar();

	&>.listing__item {
		margin-bottom: 10px;
	}

	$gutter: 40px;
	margin-left: - $gutter / 2;
	margin-right: - $gutter / 2;

	&>.listing__item {
		@include as-col(12, 12, $gutter);
		margin-bottom: 10px;
	}
}

.page {
	position: relative;

	@include media-up(sm) {
		transition: all ease-in-out $slow;

		.cart-active & {
			transform: translateX(-300px);
		}
	}

	@include media-down(xs) {

		.cart-active & {
			left: -300px;
		}
	}
}
