.modal--generic {
	background: $background;
	display: flex;
	width: 100%;
	max-width: 840px;

	.modal__content {
		position: relative;
		display: block;
	}

	.modal__header {
		position: absolute;
		z-index: 1;
		padding: 10px;
		width: 100%;
		height: 50px;
	}

	.modal__inner {
		display: block;
		padding: 0;
	}

	.modal__wrapper {
		padding: 60px 40px;
	}

	.title {
		margin-bottom: 25px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		text-align: left;
		color: #000000;
	}

	.subtitle {
		margin-bottom: 25px;
		font-family: $font-secondary;
		font-size: 32px;
		line-height: 1;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		text-align: left;
		color: #000000;
	}

	.abstract {
		margin-bottom: 25px;
		font-size: 16px;
	}

	.btn--close {
		@extend %btn;
	}

	em {
		font-style: normal;
	}

	a,
	.btn--link {
		@extend %btn-link;
		font-weight: 600;
	}

	@include media-up(md) {
		justify-content: space-between;
		align-items: stretch;
		max-height: calc(100vh - 200px);
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 0 20px 40px -10px rgba(53, 48, 44, 0.35);

		.modal__content {
			flex: 1 1 50%;
			height: 600px;
			max-height: 100%;
		}

		.modal__header {
			.btn--close {
				padding: 10px 20px 0;
			}
		}

		.modal__inner {
			height: 600px;
			max-height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			// padding-left: 70px;
			// padding-right: 70px;
			padding: 0;
			@include scrollbar();
		}

		.modal__wrapper {
			padding: 60px 40px;
		}
	}

	@include media-down(sm) {
		flex-direction: column;
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		@include scrollbar();

		.modal__inner {
			padding: 0;
		}

		.modal__wrapper {
			padding: 60px 0;

			&:last-child {
				padding-bottom: 120px;
			}
		}
	}

}
