.header {
	position: sticky;
	top: 0;
	padding: 18px 0 9px 0;
	border-bottom: 1px solid $background-tertiary;
	transition: all ease-in-out $fast;
	z-index: 1000;

	.container {
		position: static;
	}

	.group--center {
		flex: 0 0 220px;
		line-height: 0;

		.btn--logo {
			@extend %btn;
			padding: 0 18px;

			svg {
				width: 220px;
				height: 63px;
				color: currentColor;
				transition: all ease-in-out $fast;
			}

			&:hover {
				#badge {
					transform-origin: 87% 50%;
					animation: giorgetti-badge 2s 0.5s forwards 1;
				}
			}
		}
	}

	.group--left,
	.group--right,
	.group--main {
		transition: all ease-in-out $fast;
	}

	&.scrolling-down {
		padding: 9px 0;
		background: $background;
	}

	&.scrolled {
		background: $background;
	}

	.btn--menu,
	.btn--cart {
		@extend %btn;

		svg {
			fill: currentColor;
			width: 24px;
			height: 24px;
		}
	}

	.btn--cart {
		position: relative;
		padding: 10px;

		.badge {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 15px;
			top: 5px;
			right: -2px;
			margin-right: 0;
			padding: 0 5px;
			border-radius: 7.5px;
			font-size: 9px;
			line-height: 1;
			background: $background-negative;
			color: $foreground-negative;
		}
	}

	@include media-up(sm) {
		background: transparent;

		&.scrolling-down {

			.group--left,
			.group--right {
				transform: translateY(9px);
			}

			.group--main {
				margin-top: -45px;
				opacity: 0;
			}
		}

		.btn--menu,
		.btn--cart {
			display: none;
		}

		.group--submenus {

			.btn--back {
				display: none;
			}
		}
	}

	@include media-down(xs) {
		padding: 9px 0;
		background: $background;

		.group--center .btn--logo svg {
			width: 180px;
		}

		.nav--language {
			display: none;
		}

		.group--submenus {
			opacity: 0;
			transform: translateX(-300px);
			transition: all ease-in-out $fast;

			&.active {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
}

.group--header {
	display: flex;
	justify-content: space-between;

	@include media-up(sm) {
		align-items: flex-start;
		padding-bottom: 18px;
	}

	@include media-down(xs) {
		align-items: center;
	}

	.group--left {
		flex: 1 1 calc(100% - 220px / 2);

		@include media-up(sm) {
			margin-top: 10px;
		}
	}

	.group--right {
		flex: 1 1 calc(100% - 220px / 2);
		display: flex;
		justify-content: flex-end;
		align-items: center;

		@include media-up(sm) {
			margin-top: 10px;
		}
	}
}

.nav--language {
	@extend %nav;

	&>.nav__item {
		white-space: nowrap;

		&>a,
		&>button {
			display: flex;
			align-items: center;

			svg {
				width: 20px;
				height: 20px;
				margin-right: 0.5em;
				fill: $foreground-tertiary;
			}
		}
	}
}

.nav--service {
	@extend %nav;
	margin-top: -10px;

	&>.nav__item {

		&:last-child {
			padding-right: 0;
		}

		&>a,
		&>button {
			position: relative;
			display: flex;
			align-items: center;
			padding: 10px;
			border-radius: 22px;
			background: transparent;
			transition: all ease-in-out $fast;

			&:hover {
				transform: translateY(-3px);
			}

			&.active {
				background: $background-tertiary;
			}
		}

		span {
			font-size: 12px;
			margin-right: 5px;
		}

		svg {
			fill: currentColor;
			width: 24px;
			height: 24px;
		}
	}

	/*
	&>.nav__item+.nav__item {
		margin-left: 20px;
	}
	*/

	@include media-down(xs) {
		display: none;
	}
}

.nav--main {
	@extend %nav;

	&>.nav__item {
		position: static;
		margin-bottom: -10px;
		font-size: 14px;
		line-height: 1.5;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		background: transparent;

		&>a,
		&>span {
			padding: 5px 5px 10px 5px;
			display: flex;
			align-items: center;

			svg {
				width: 20px;
				height: 20px;
				margin-left: 0.5em;
				fill: currentColor;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0px;
				width: 100%;
				height: 4px;
				background: $background-negative;
				transform: scale(0, 1);
				transform-origin: center;
				transition: transform ease-in-out $fast;
			}
		}

		&:hover,
		&.active {

			&>a,
			&>span {
				&:after {
					transform: scale(1, 1);
				}
			}
		}
	}

	@include media-up(sm) {
		&>.nav__item+.nav__item {
			margin-left: 50px;
		}
	}

	@include media-down(xs) {
		display: none;
		flex-direction: column;
		width: 100%;
		margin: 0 15px;

		&>.nav__item {

			&>a,
			&>span {
				display: inline-flex;
				padding: 0 0 2px 0;
				margin-bottom: 1.5em;

				&:after {
					height: 2px;
					transform-origin: left;
				}
			}
		}

		.active & {
			display: flex;
		}
	}
}

.nav--submenu {
	@extend %nav-reset;
	display: grid;
	grid-template-rows: repeat(7, 0);
	grid-auto-flow: column;
	grid-auto-columns: 200px;

	@include media-up(xl) {
		gap: 40px 70px;
	}

	@include media-between(lg, xl) {
		gap: 40px 60px;
	}

	@include media-between(md, lg) {
		gap: 40px 50px;
	}

	@include media-between(sm, md) {
		gap: 40px 40px;
	}

	@include media-down(xs) {
		// gap: 40px 30px;
		display: flex;
		flex-direction: column;
	}

	&>.nav__item {
		position: static;
		font-size: 14px;
		letter-spacing: 0.03em;
		text-transform: none;
		white-space: nowrap;

		&>a {
			position: relative;

			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 1px;
				background: $background-negative;
				transform: scale(0, 1);
				transform-origin: left;
				transition: transform ease-in-out $fast;
			}

			&.all {
				font-weight: $font-bold;

				&:after {
					transform-origin: right;
					transform: scale(1, 1);
				}
			}
		}

		&:hover,
		&.active {
			&>a {
				&:after {
					transform: scale(1, 1);
				}

				&.all {
					font-weight: $font-bold;
					transform: scale(1, 1);

					&:after {
						transform: scale(0, 1);
					}
				}
			}
		}
	}

	@include media-down(xs) {
		display: none;

		&>.nav__item {

			&>a,
			&>span {
				margin-bottom: 1em;
			}
		}
	}
}

.group--main {
	display: flex;
	justify-content: center;
	align-items: center;

	@include media-up(sm) {
		.btn--close {
			display: none;
		}
	}

	@include media-down(xs) {
		position: fixed;
		display: flex;
		align-items: flex-start;
		padding: 80px 0 15px 0;
		top: 0;
		left: 0;
		width: 300px;
		height: 100vh;
		z-index: 1000;
		background: $background;
		border-right: 1px solid $background-tertiary;
		background: white;
		overflow: hidden;
		opacity: 0;
		transform: translateX(-300px);

		.btn--close {
			@include btn(rgba(255, 255, 255, 0.2), $foreground, $background, $foreground, rgba(255, 255, 255, 0.4), #232221);
			position: absolute;
			top: 30px;
			left: 20px;

			svg {
				width: 20px;
				height: 20px;
				line-height: 1;
				fill: currentColor;
			}
		}

		&.active {
			opacity: 1;
			transform: translateX(0);

			.nav--main {
				display: flex;
				flex-direction: column;
				width: 100%;
				margin: 0 15px;
			}
		}
	}
}

.group--submenus {

	&.active {
		.nav--submenu {
			@extend %stagger-left;
		}
	}

	@include media-up(sm) {
		position: absolute;
		top: 135px;
		background: rgba(53, 48, 44, 0.4);
		left: 0;
		width: 100%;
		min-height: calc(100vh - 135px);
		height: auto;
		pointer-events: none;
		clip-path: inset(0 0 100vh 0);
		opacity: 0;
		transition: all ease-in-out $slow;
		// hack IE 11
		display: none;

		.btn--back {
			display: none;
		}

		&.active {
			display: block;
		}

		@media (-webkit-min-device-pixel-ratio:0) {
			display: block;

			&.active {
				transition-property: clip-path;
				clip-path: inset(0 0 0 0);
				opacity: 1;
			}
		}
	}

	@include media-down(xs) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		background: $background;
		z-index: 1;
		opacity: 0;
		transform: translateX(-300px);

		&.active {
			opacity: 1;
			transform: translateX(0);
		}

		.btn--back {
			@include btn(rgba(255, 255, 255, 0.2), $foreground, $background, $foreground, rgba(255, 255, 255, 0.4), #232221);
			position: absolute;
			top: 30px;
			left: 20px;

			svg {
				width: 46px * 0.7;
				height: 13px * 0.7;
				line-height: 1;
				fill: currentColor;
			}
		}
	}
}

.group--submenu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	pointer-events: none;

	// hack IE 11
	display: none;

	&.active {
		display: flex;
		pointer-events: all;

		.nav--submenu {
			@extend %stagger-left;
		}
	}

	@media (-webkit-min-device-pixel-ratio:0) {
		/*
		display: flex;

		&.active {
			clip-path: inset(0 0 0 0);
			// opacity: 1;
		}
		*/
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 80px;
		padding-bottom: 80px;
		background: $background;
		position: relative;

		&:before,
		&:after {
			content: '';
			background: $background;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
		}

		&:before {
			left: -100%;
		}

		&:after {
			right: -100%;
		}
	}

	.group--picture {
		flex: 1 1 auto;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $background-tertiary;
			opacity: 0.15;
		}
	}

	.group--picture {
		background: #f6f5f4; // tertiary 30%
		max-width: 402px;
	}

	[data-target] {
		opacity: 0;
	}

	@include media-up(xl) {
		.group--picture {
			margin-left: 70px;
		}
	}

	@include media-between(lg, xl) {
		.group--picture {
			margin-left: 60px;
		}
	}

	@include media-between(md, lg) {
		.group--picture {
			margin-left: 50px;
		}
	}

	@include media-between(sm, md) {
		.group--picture {
			margin-left: 40px;
		}
	}

	@include media-down(xs) {
		position: relative;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		.container {
			padding: 80px 15px;
		}

		.group--picture {
			margin-left: 30px;
			display: none;
		}

		&.active {
			.nav--submenu {
				display: block;
			}
		}
	}
}

.group--search {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	left: 0;
	background: $background;
	clip-path: inset(0 0 100vh 0);
	opacity: 0;
	transition: all ease-in-out $slow;
	// hack IE 11
	display: none;
	pointer-events: none;

	&.active {
		display: block;
		pointer-events: auto;

		.container {
			@extend %stagger-left;
		}
	}

	@media (-webkit-min-device-pixel-ratio:0) {
		display: block;

		&.active {
			transition-property: clip-path;
			clip-path: inset(0 0 0 0);
			opacity: 1;
		}
	}

	.title {
		font-family: $font-secondary;
		text-transform: uppercase;
		line-height: 2;
		border-bottom: 1px solid $background-tertiary;
	}

	.group--form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 0;

		svg {
			fill: $foreground-tertiary;
		}

		.control--text {

			&,
			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus {
				background: transparent;
				color: $foreground;
				border: 0;
				border-radius: 0;
				font-family: $font-primary;
				font-weight: 100;
				letter-spacing: 0;
				line-height: 2;
				text-transform: none;
				// -webkit-text-fill-color: $foreground;
				box-shadow: 0 0 0px 1000px transparent inset;
				transition: background-color 5000s ease-in-out 0s;
			}

			&::placeholder {
				font-family: $font-primary;
				font-weight: 100;
				letter-spacing: 0;
				line-height: 2;
				color: $foreground-tertiary;
			}

			@include media-up(sm) {

				&,
				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus {
					font-size: 64px;
				}

				&::placeholder {
					font-size: 64px;
				}
			}

			@include media-down(xs) {

				&,
				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus {
					font-size: 32px;
				}

				&::placeholder {
					font-size: 32px;
				}
			}
		}


		@include media-up(sm) {
			border-bottom: 4px dotted $foreground-tertiary;

			svg {
				width: 64px;
				height: 64px;
				margin-right: 32px;
			}
		}

		@include media-down(xs) {
			border-bottom: 2px dotted $foreground-tertiary;
			margin-top: 10px;

			svg {
				width: 32px;
				height: 32px;
				margin-right: 16px;
			}
		}
	}

	@include media-up(sm) {
		top: 135px;
		height: calc(100vh - 135px);
		padding: 80px 0;
	}

	@include media-down(xs) {
		top: 82px;
		height: calc(100vh - 82px);
		padding: 40px 0;
	}
}

.nav--results {
	@extend %nav-reset;

	&>.nav__item {
		&>a {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.5em 0;
			line-height: 1;

			&>.nav__title {
				flex: 0 1 auto;
				position: relative;
				display: inline-block;
				margin-right: 2em;
				padding: 6px 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				em {
					font-size: 0.7em;
					font-style: normal;
					color: #6A6A6A;
					text-transform: uppercase;
				}

				&:after {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background: $background-negative;
					transform: scale(0, 1);
					transform-origin: left;
					transition: transform ease-in-out $fast;
				}
			}

			&>.nav__url {
				flex: 0 1 auto;
				display: inline-block;
				padding: 6px 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: $foreground-tertiary;
			}

			&:hover {
				&>.nav__title {
					&:after {
						transform: scale(1, 1);
					}
				}
			}
		}
	}

	@include media-up(sm) {
		padding: 40px;
		margin-top: 40px;
		border-radius: 0;
		box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.3);

		&>.nav__item {
			font-size: 19px;
		}
	}

	@include media-down(xs) {
		padding: 10px 15px;
		margin-top: 15px;
		border-radius: 0;
		box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);

		&>.nav__item {

			&:not(:last-child) {
				border-bottom: 1px solid #eee;
			}

			&>a {
				flex-wrap: wrap;

				&>.nav__title {
					margin-right: 0;
					padding-bottom: 0;
				}

				&>.nav__url {
					flex-basis: 100%;
					font-size: 11px;
					padding-bottom: 0;
				}
			}
		}
	}
}

@keyframes clip-right {
	0% {
		clip-path: inset(0 100% 0 0);
	}

	100% {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes clip-bottom {
	0% {
		clip-path: inset(0 0 100% 0);
	}

	100% {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes giorgetti-badge {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(-180deg) scale(0.9);
	}

	100% {
		transform: rotate(-360deg);
	}
}
