.section--intro-pictogram {

	padding: 0 0 80px 0;

	.container>.row {
		position: relative;
	}

	.col-md-9 {
		position: absolute;
	}

	.col-md-6 {
		position: relative;
	}

	.background {
		background: #F8F7F7;
		margin-top: -7vw;
		padding-top: 7vw;
		padding-bottom: 30px;
		display: flex;
		justify-content: flex-end;

		height: calc(100vh - 220px);
		margin-top: -91px;
		padding-top: 0;
		background: #d1cdca;
		opacity: .2;

		img {
			width: 60vw;
			margin-top: -15%;
			margin-right: -18%;
			max-width: 980px;

			display: none;
		}

		/*
		svg {
			width: 30vw;
			height: 59vw;
			margin-top: -150px;
			fill: #d1cdca;
		}
		*/
	}

	.title {
		margin-top: 120px;
		margin-bottom: 30px;
		font-family: $font-secondary;
		font-size: 160px;
		line-height: 1.1;
		letter-spacing: -0.027em;
		text-transform: uppercase;
	}

	.abstract {
		margin-bottom: 80px;
		font-size: 24px;
		line-height: 1.2;
		text-transform: uppercase;
		color: #6A6A6A;
	}

	.description {
		margin-bottom: 180px;
		font-size: 18px;
		color: #6A6A6A;
	}

	.scroll-proposition {
		position: relative;
		padding-bottom: 150px;
		font-size: 12px;
		letter-spacing: -0.05em;
		color: #A19C96;

		&:after {
			content: "";
			position: absolute;
			top: 25px;
			left: 44px;
			width: 1px;
			height: 150px;
			background: #a19c96;
			animation: scroll-indicator 2000ms linear infinite;
		}
	}
}

@keyframes scroll-indicator {
	0% {
		transform-origin: top;
		transform: scale(1, 0);
	}

	30% {
		transform-origin: top;
		transform: scale(1, 1);
	}

	31% {
		transform-origin: bottom;
		transform: scale(1, 1);
	}

	60% {
		transform-origin: bottom;
		transform: scale(1, 0);
	}

	100% {
		transform-origin: bottom;
		transform: scale(1, 0);
	}
}

.card--history {
	position: relative;
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 200px;
	}

	/*
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	*/

	.card__picture {
		img {
			width: 100%;
		}
	}

	.card__content {
		position: relative;
		padding: 80px 110px;
		background: #F8F7F7;
	}

	.card__title {
		font-family: $font-secondary;
		font-size: 140px;
		line-height: 1.1;
		letter-spacing: -0.05em;
		text-transform: uppercase;
		color: #D1CDCA;
		white-space: nowrap;
	}

	.card__abstract {
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.2;
		letter-spacing: -0.05em;
		text-transform: uppercase;
	}

	.card__description {
		font-size: 18px;
		line-height: 1.2;
	}

	@include media-up(md) {

		.card__title {
			position: absolute;
		}

		&:nth-child(even) {
			.card__picture {
				order: 2;
			}

			.card__content {
				margin-right: -7vw !important;
			}

			.card__title {
				left: 30px;
				top: 0;
				transform: translateX(-1.1em) translateY(-50%);
			}
		}

		&:nth-child(odd) {
			.card__content {
				margin-left: -7vw !important;
			}

			.card__title {
				right: 30px;
				top: 0;
				transform: translateX(1.1em) translateY(-50%);
			}
		}
	}

	@include media-between(md, lg) {
		display: flex;
		align-items: center;
		$gutter: 50px;

		.card__picture {
			@include as-col(6, 12, $gutter);
			max-width: 100%;
			flex-grow: 1;
		}

		.card__content {
			@include as-col(7, 12, $gutter);
		}

		&:nth-child(even) {
			.card__picture {
				@include expand-right();
			}
		}

		&:nth-child(odd) {
			.card__picture {
				@include expand-left();
			}
		}
	}

	@include media-between(lg, xl) {
		display: flex;
		align-items: center;
		$gutter: 60px;

		.card__picture {
			@include as-col(6, 12, $gutter);
			max-width: 100%;
			flex-grow: 1;
		}

		.card__content {
			@include as-col(7, 12, $gutter);
		}

		&:nth-child(even) {
			.card__picture {
				@include expand-right();
			}
		}

		&:nth-child(odd) {
			.card__picture {
				@include expand-left();
			}
		}
	}

	@include media-up(xl) {
		display: flex;
		align-items: center;
		$gutter: 70px;

		.card__picture {
			@include as-col(6, 12, $gutter);
			max-width: 100%;
			flex-grow: 1;
		}

		.card__content {
			@include as-col(7, 12, $gutter);
		}

		&:nth-child(even) {
			.card__picture {
				@include expand-right();
			}
		}

		&:nth-child(odd) {
			.card__picture {
				@include expand-left();
			}
		}
	}
}
