.section--homepage {
	padding: 0 0 80px 0;

	.title {
		@extend %btn;
		display: block;
		margin-bottom: 20px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.1;
		text-align: center;
		letter-spacing: -0.027em;
		text-transform: uppercase;
	}
}
