.section--index {
	// !!! eliminare
	padding: 0 0 80px 0;

	.title {
		@extend %btn;
		display: block;
		margin-bottom: 70px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.1;
		text-align: center;
		letter-spacing: -0.027em;
		text-transform: uppercase;
	}
}

.nav--index {
	@extend %nav-reset;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: repeat(8, 0);
	grid-auto-flow: column;
	// grid-auto-columns: 400px;

	@include media-up(xl) {
		gap: 40px 70px;
	}

	@include media-between(lg, xl) {
		gap: 40px 60px;
	}

	@include media-between(md, lg) {
		gap: 40px 50px;
	}

	@include media-between(sm, md) {
		gap: 40px 40px;
	}

	@include media-down(xs) {
		gap: 40px 30px;
	}

	&>.nav__item {
		position: static;

		&>a,
		&>span {
			@extend %btn;
			position: relative;
			display: inline-block;
			font-family: $font-secondary;
			font-size: 24px;
			line-height: 1.1;
			letter-spacing: -0.027em;
			text-transform: uppercase;
			white-space: nowrap;
			cursor: pointer;

			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 1px;
				background: $background-negative;
				transform: scale(0, 1);
				transform-origin: left;
				transition: transform ease-in-out $fast;
			}
		}

		&:hover,
		&.active {

			&>a,
			&>span {
				&:after {
					transform: scale(1, 1);
				}
			}
		}
	}

	@include media-down(xs) {
		display: none;
	}
}
