.modal--market-proposition {
	position: relative;
	background: $background;
	display: flex;
	width: auto;
	overflow: hidden;

	.pictogram {
		@extend %pictogram;
		position: absolute;
		z-index: 0;

		@include media-up(md) {
			top: 50%;
			left: 50%;
			margin-top: -30vw;
			margin-left: -30vw;
		}

		@include media-down(sm) {
			top: 50%;
			left: 50%;
			margin-top: -40vw;
			margin-left: -40vw;
		}
	}

	.modal__content {
		position: relative;
		display: block;
	}

	.modal__header {
		position: absolute;
		z-index: 1;
		padding: 10px;
		width: 100%;
		height: 50px;
	}

	.modal__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: transparent;
	}

	.btn--logo {
		@extend %btn;
		padding: 0 18px;
		margin-bottom: 30px;

		svg {
			width: 220px;
			height: 63px;
			color: currentColor;
			transition: all ease-in-out $fast;
		}
	}

	.title,
	.subtitle {
		margin: 25px 0;
		font-family: $font-secondary;
		line-height: 1;
		letter-spacing: -.03em;
		text-transform: uppercase;
		text-align: left;
		border-bottom: 1px solid $background-tertiary;
		display: block;
		width: 100%;
		text-align: center;
		padding: 5px 0;
	}

	.subtitle {
		font-size: 19px;
	}

	.btn--close {
		@extend %btn;

		svg {
			width: 24px;
			height: 24px;
		}
	}

	.group--cta {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		text-align: center;
	}

	.btn--secondary,
	.btn--primary {
		@extend %btn;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 15px;
		border: 1px solid;
		margin: 15px 0 0 0;

		svg {
			width: 24px;
			height: 24px;
			fill: currentColor;
			margin-left: 10px;
			transition: transform ease-in-out 250ms;
		}
	}

	.btn--primary {

		&,
		&:link,
		&:active,
		&:focus,
		&:visited {
			background: #837f7b;
			color: $foreground-negative;
		}

		&:hover {
			background: #837f7b;
			color: $foreground-negative;

			svg {
				transform: translateX(5px);
			}
		}
	}

	@include media-up(sm) {
		justify-content: space-between;
		align-items: stretch;
		max-width: calc(100% - 200px);
		max-height: calc(100vh - 200px);
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 0 20px 40px -10px rgba(53, 48, 44, 0.35);

		.modal__inner {
			padding: 50px 60px 80px;
			height: 600px;
			max-height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			@include scrollbar();
		}

		.modal__content {
			height: 600px;
			max-height: 100%;
		}

		.title {
			font-size: 48px;
		}
	}

	@include media-between(sm, md) {
		max-width: calc(100% - 120px);
	}

	@include media-down(xs) {
		flex-direction: column;
		width: calc(100vw - 40px);
		max-width: 100%;
		max-height: 100%;
		max-height: calc(100vh - 80px);
		overflow-x: hidden;
		overflow-y: auto;
		@include scrollbar();

		.modal__inner {
			padding: 50px 40px 120px 40px;
		}

		.title {
			font-size: 32px;
		}
	}
}
