.nav--secondary {
	@extend %nav;
	// padding: 0 24px;

	&>.nav__item {
		font-size: 18px;
		line-height: 1;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		background: transparent;

		&>a,
		&>button,
		&>span {
			padding: 20px 0;
			text-transform: uppercase;

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0px;
				width: 100%;
				height: 4px;
				background: $background-negative;
				transform: scale(0, 1);
				transform-origin: center;
				transition: transform ease-in-out $fast;
			}
		}

		&:hover,
		&.active {

			&>a,
			&>button,
			&>span {
				&:after {
					transform: scale(1, 1);
				}
			}
		}
	}

	@include media-up(md) {
		justify-content: space-around;
		background: $background-tertiary;

		&.sticked {
			position: relative;
			z-index: 1;
			box-shadow: 0 10px 10px -5px rgba(53, 48, 44, 0.15%);

			/*
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: -50%;
				width: 200%;
				height: 100%;
				background: $background-tertiary;
			}

			&>* {
				position: relative;
			}
			*/
		}
	}

	@include media-down(sm) {
		flex-direction: column;
		text-align: center;

		&>.nav__item {
			margin-bottom: 2px;
			background: $background-tertiary;
		}
	}
}

.section--materials {

	.nav--secondary {
		position: relative;
		z-index: 2;
	}

	.picture {
		@include aspect-clip(1920, 1080);
		overflow: visible;
	}

	@include media-up(md) {
		padding: 0 0 160px 0;

		.nav--secondary {
			margin-bottom: 120px;
		}
	}

	@include media-down(sm) {
		padding: 0 0 100px 0;

		.nav--secondary {
			margin-bottom: 60px;
		}
	}
}

.card--material {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: all ease-out $fast;

	.card__picture {
		@include aspect-clip(1, 1);
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			transition: all ease-in-out $fast;
		}
	}

	.card__content {
		position: absolute;
		bottom: 0;
		left: 0;
		top: 0;
		padding: 20px;
		background: rgba(0, 0, 0, 0.2);
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		text-align: left;
		color: white;
		opacity: 0;
		transition: all ease-in-out $fast;
	}

	&:hover {
		.card__picture {
			img {
				transform: scale(1.05, 1.05);
			}
		}

		.card__content {
			opacity: 1;
		}
	}

	.card__code {
		margin-bottom: 4px;
		font-size: 14px;
		line-height: 1.2;
		text-transform: uppercase;
	}

	.card__title {
		margin-bottom: 4px;
		font-size: 18px;
		line-height: 1.2;
		text-transform: uppercase;
	}

	.card__finish {
		font-size: 14px;
		line-height: 1.2;
	}
}

.listing--materials {

	position: relative;
	display: grid;
	grid-auto-flow: row;
	grid-gap: 10px;

	@include media-up(xl) {
		grid-template-columns: auto auto auto auto auto;
	}

	@include media-between(lg, xl) {
		grid-template-columns: auto auto auto auto auto;
	}

	@include media-between(md, lg) {
		grid-template-columns: auto auto auto auto;
	}

	@include media-between(sm, md) {
		grid-template-columns: auto auto auto;
	}

	@include media-down(xs) {
		grid-template-columns: auto auto;
	}

	&>.listing__item {
		&.active {
			.card--material {
				transform: scale(2);
				box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
				z-index: 11;

				.card__content {
					opacity: 1;
				}
			}
		}
	}
}

.section--materials-listing {
	padding: 0;

	.title {
		margin-bottom: 40px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: -0.008em;
		text-transform: uppercase;
	}

	.picture {
		margin-bottom: 20px;
	}

	.description {
		font-size: 16px;
		text-align: center;
	}

	.btn--more {
		@extend %btn-primary;
	}

	.group--cta {
		display: flex;
		align-items: center;
		margin-top: 40px;

		@include media-up(sm) {
			justify-content: center;
		}

		@include media-up(xl) {

			&>*+* {
				margin-left: 70px;
			}
		}

		@include media-between(lg, xl) {

			&>*+* {
				margin-left: 60px;
			}
		}

		@include media-between(md, lg) {

			&>*+* {
				margin-left: 50px;
			}
		}

		@include media-between(sm, md) {

			&>*+* {
				margin-left: 40px;
			}
		}

		@include media-down(xs) {
			flex-direction: column;

			&>*+* {
				margin-top: 30px;
			}
		}
	}
}

// modal

.modal--materials {
	position: relative;
	background: $background;
	display: flex;
	flex-direction: column;
	width: 100%;

	.modal__picture {
		position: relative;
		background: $background-tertiary;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000000;
			opacity: 0.03;
		}

		&>img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.group--navs {
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		bottom: 0;
		z-index: 1;

		.btn--prev,
		.btn--next {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 80px;
			padding: 23px 17px;
			font-size: 16px;
			line-height: 1;
			font-size: 16px;
			line-height: 1.1;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.043em;
			opacity: 0.2;

			svg {
				width: 46px;
				height: 13px;
			}

			&.active {
				opacity: 1;
			}

			&:not(.active) {
				pointer-events: none;
			}
		}
	}

	.modal__content {
		position: relative;
		display: block;
	}

	.modal__header {
		position: sticky;
		z-index: 1;
		padding: 10px;
		width: 100%;
		height: 50px;
		top: 0;
		margin-bottom: -50px;
	}

	.modal__inner {
		display: block;
		padding-top: 50px;
		padding-bottom: 80px;
	}

	@include media-up(md) {
		justify-content: space-between;
		align-items: stretch;
		max-width: calc(100vh - 320px);
		max-height: calc(100vh - 200px);
		overflow-x: hidden;
		overflow-y: auto;
		padding-bottom: 10px;
		border-radius: 3px;
		@include scrollbar();
		box-shadow: 0 20px 40px -10px rgba(53, 48, 44, 0.35);

		.modal__picture {
			@include aspect-clip(1, 1);
		}
	}

	@include media-down(sm) {
		flex-direction: column;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		padding-bottom: 60px;
		@include scrollbar();

		.modal__picture {
			@include aspect-clip(1, 1);
		}
	}

	.group--headline {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
	}

	.title,
	.code {
		font-size: 19px;
		line-height: 1;
		letter-spacing: -0.03em;
		text-align: left;
		color: #000000;
	}

	.code {
		margin-left: 15px;
	}

	.collection,
	.category {
		font-family: $font-secondary;
		font-size: 24px;
		text-transform: uppercase;
	}

	.description,
	.finish {
		margin-bottom: 25px;
		line-height: 1.2;
		text-transform: uppercase;

		p {
			margin: 0 0 5px 0;
			padding: 0;
		}
	}

	.listing--icons {
		padding: 20px 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: 0;

		&>.listing__item {
			margin-right: 8px;
		}

		svg {
			width: 32px;
			height: 32px;
		}
	}

	.abstract {
		margin-bottom: 25px;
		font-size: 16px;
	}

	.btn--close,
	.btn--prev,
	.btn--next {
		@include btn(rgba(0, 0, 0, 0), $foreground-negative, rgba(0, 0, 0, 0.3), $foreground-negative, rgba(0, 0, 0, 0.5), $foreground-negative);

		svg {
			fill: currentColor;
		}
	}

	.btn--close {
		line-height: 1;
		width: 40px;
		height: 40px;
		margin-top: 0;
		margin-right: 0;
		padding: 0;

		svg {
			width: 24px;
			height: 24px;
			line-height: 1;
		}
	}
}

.group--subitems {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 60px 0 40px 0;
	border-bottom: 1px solid $border;
	z-index: 1;
}
