[swiper-gallery] {

	.swiper-container {
		@extend %swiper-hero;
		align-items: stretch;
		overflow: visible;

		@include media-up(xl) {
			$gutter: 70px;
			margin: 0px -$gutter;
			margin-bottom: $gutter;
			width: calc(100% + #{2 * $gutter});
			padding: 0 $gutter;
		}

		@include media-between(lg, xl) {
			$gutter: 60px;
			margin: 0px -$gutter;
			margin-bottom: $gutter;
			width: calc(100% + #{2 * $gutter});
			padding: 0 $gutter;
		}

		@include media-between(md, lg) {
			$gutter: 50px;
			margin: 0px -$gutter;
			margin-bottom: $gutter;
			width: calc(100% + #{2 * $gutter});
			padding: 0 $gutter;
		}

		@include media-between(sm, md) {
			$gutter: 40px;
			margin: 0px -$gutter;
			margin-bottom: $gutter;
			width: calc(100% + #{2 * $gutter});
			padding: 0 $gutter;
		}

		@include media-down(xs) {
			$gutter: 30px;
			margin: 0px -$gutter;
			margin-bottom: $gutter;
			width: calc(100% + #{2 * $gutter});
			padding: 0 $gutter;
		}
	}

	.swiper-slide {
		width: auto;
		height: auto;
		max-width: 100%;

		.card--gallery {
			height: 100%;

			&>.card__picture {
				flex: 1 0 auto;
			}
		}
	}

	.swiper-slide--video {
		width: 100%;
	}

	.group--actions {
		margin-bottom: 50px;
	}
}

.card--gallery {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	&>.card__picture {
		@extend %btn;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		// height: 69vh;
		// max-height: 720px;
		max-height: 69vh;
		max-width: 100%;
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: transform ease-in-out $fast;
		}

		.over {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			background: rgba(53, 48, 44, 0.4);
			pointer-events: none;
			transition: opacity ease-in-out $fast;

			&__date {
				margin-bottom: 16px;
				font-size: 18px;
				line-height: 1.2;
				text-align: center;
				color: $foreground-negative;
			}

			&__title {
				max-width: 600px;
				font-family: $font-secondary;
				font-size: 48px;
				line-height: 1.2;
				text-align: center;
				letter-spacing: -0.041em;
				text-transform: uppercase;
				color: $foreground-negative;
			}
		}


		&:hover {
			img {
				transform: scale(1.03, 1.03);
			}

			.over {
				opacity: 0;
			}
		}

	}

	&>.card__video {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		max-height: 69vh;
		max-width: 100%;
		overflow: hidden;
		cursor: pointer;

		&>.video {
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: transform ease-in-out $fast;
			background: black;

			&>.thron,
			&>video {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.th-video {
			.th-video-player {
				video {
					object-fit: cover;
				}

				.th-video-poster {
					background-size: cover;
				}
			}
		}

		.th-video-element {
			cursor: pointer;
		}

		.th-time-rail,
		.th-hd-btn,
		.th-speed-btn {
			display: flex !important;
			justify-content: center;
			align-items: center;
		}

		.th-reload-btn,
		.th-top,
		.th-adv-overlay-bar {
			visibility: hidden !important;
		}

		.th-big-play-btn {
			opacity: 0;
		}

		.btn--play {
			@include btn(transparent, $foreground-negative, transparent, $foreground-tertiary, transparent, #232221);
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 50%;
			left: 50%;
			width: 128px;
			height: 128px;
			margin: -64px 0 0 -64px;
			z-index: 1;

			@include media-down(xs) {
				width: 64px;
				height: 64px;
				margin: -32px 0 0 -32px;
			}
		}

		&:hover {
			.btn--play {
				color: $foreground-tertiary;
			}
		}

		&.playing {
			.btn--play {
				opacity: 0;
			}
		}
	}

	.card__content {
		// transform: translateX(60px) translateY(60px);
		width: 100%;
		background: $background-negative;
		color: $foreground-negative;

		@include media-down(xs) {
			padding: 15px;
		}

		@include media-up(sm) {
			position: absolute;
			right: 0;
			bottom: 0;
			max-width: 445px;
		}

		@include media-between(sm, md) {
			margin: 0 -40px -60px 0;
			padding: 30px;
		}

		@include media-up(md) {
			margin: 0 -60px -60px 0;
			padding: 40px;
		}
	}

	.card__date {
		display: block;
		font-size: 16px;
		margin-bottom: 14px;
	}

	.card__title {
		display: block;
		margin-bottom: 14px;
		font-size: 24px;
		line-height: 1.2;
	}

	.btn--more {
		@extend %btn;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 1;

		svg {
			width: 20px;
			height: 20px;
			margin: 2px 0 0 12px;
			transition: all ease-in-out $fast;
		}

		&:hover {
			svg {
				transform: translateX(5px);
			}
		}
	}
}

.section--news-detail {
	padding: 0 0 80px 0;

	.title {
		margin-bottom: 100px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: -0.027em;
		text-transform: uppercase;
		color: #232221;

		em {
			display: block;
			font-style: normal;
			color: #6A6A6A;
		}
	}
}

.section--text {

	.title {
		margin-bottom: 60px;
		font-family: $font-secondary;
		font-size: 32px;
		line-height: 1.2;
		letter-spacing: -.03em;
		text-transform: uppercase;
		color: #000000;
	}

	.description,
	div:not([class]) {
		font-size: 16px;
		letter-spacing: 0.02em;
	}

	.description+.title,
	div:not([class])+.title,
	p+.title {
		margin-top: 60px;
	}

	p {
		margin: 0 0 60px 0;
		padding: 0;

		&:last-child {
			margin: 0;
		}
	}

	ul,
	ol {
		margin: 0 0 60px 0;
		padding: 0 0 0 20px;

		&>li {
			&::marker {
				font-weight: bold;
				text-transform: uppercase;
			}

			&:not(:last-child) {
				margin: 0 0 20px 0;
			}
		}
	}

	.btn--link,
	a {
		@extend %btn-link;
		font-weight: 600;
		margin-bottom: 4px;

		&:after {
			transform: scale(1, 1);
			transform-origin: right;
		}

		&:hover,
		&.active {
			&:after {
				transform: scale(0, 1);
			}
		}
	}

	.group--informations {
		margin-bottom: 80px;

		.title {
			margin-bottom: 30px;
		}

		p {
			margin: 0 0 20px 0;
			padding: 0;

			&:last-child {
				margin: 0;
			}
		}

		ul,
		ol {
			margin: 0 0 30px 0;
			padding: 0 0 0 20px;

			&>li:not(:last-child) {
				margin: 0 0 20px 0;
			}
		}

	}

	table {
		font-size: 0.8em;
		border: none!important;

		td {
			padding: 8px;
			border-collapse: collapse;
			border: none;
			border-bottom: 1px solid black;

			&, p {
				text-align: left!important;
				margin: 0!important;
			}
		}

		ul, ol {
			margin: 0;
			padding: 0 0 0 30px;
		}
	}

	@include media-up(md) {
		padding-bottom: 140px;
	}

	@include media-down(sm) {
		padding-bottom: 60px;
	}
}

.group--share {
	display: flex;

	.share__title {
		margin-right: 20px;
		font-size: 16px;
		text-transform: uppercase;
	}
}

.nav--share {
	@extend %nav;

	&>.nav__item {

		svg {
			fill: currentColor;
			width: 24px;
			height: 24px;
		}
	}

	&>.nav__item+.nav__item {
		margin-left: 20px;
	}
}
