.page>.pictogram {
	position: fixed;
	top: 0;
	right: -10vw;
	width: 60vw;
	height: 60vw;
	opacity: 0.2;
	animation: linear-rotate 480000ms linear infinite;

	&>img {
		width: 100%;
		height: 100%;
	}
}

@keyframes linear-rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}
