.section--gallery {
	padding: 0 0 80px 0;

	.title {
		margin-bottom: 100px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: -0.027em;
		text-transform: uppercase;
		color: #232221;

		em {
			display: block;
			font-style: normal;
			color: #6A6A6A;
		}
	}

	@include media-up(md) {
		.title {
			margin-bottom: 100px;
		}
	}

	@include media-down(sm) {
		.title {
			margin-bottom: 40px;
		}
	}
}

.section--design {

	.title {
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.1;
		letter-spacing: -0.027em;
		text-transform: uppercase;
	}
}

.section--share+.section--design {
	margin-top: 140px;
}

.card--design {
	@extend %btn;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&>.card__picture {
		display: block;
		@include aspect-clip(1, 1);
		margin-bottom: 20px;

		img {
			transition: transform ease-in-out $fast;
			transform-origin: bottom;
			object-fit: contain;
			object-position: 50% 100%;
			background: $background;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000000;
			opacity: 0.03;
		}

		.over {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 15px;
			opacity: 0;
			background: rgba(53, 48, 44, 0.4);
			pointer-events: none;
			transition: opacity ease-in-out $fast;

			&__title {
				margin-bottom: 20px;
				font-family: $font-secondary;
				font-size: 48px;
				line-height: 1.2;
				text-align: center;
				letter-spacing: -0.041em;
				text-transform: uppercase;
				color: $foreground-negative;
			}
		}
	}

	.card__title {
		display: block;
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 1.2;
		text-align: center;
		text-transform: uppercase;
	}

	&:hover {

		&>.card__picture {
			img {
				transform: scale(1.1, 1.1);
			}

			.over {
				opacity: 0;
			}
		}
	}

	.large>& {
		&>.card__picture {
			@include aspect-clip(2.17, 1);

			img {
				object-fit: contain;
			}
		}
	}

	@include media-down(xs) {
		&>.card__content {
			padding: 0 20px;
			width: 100%;
		}
	}

	@include media-up(sm) {
		@media (-webkit-min-device-pixel-ratio:0) {
			height: 100%;

			&>.card__content {
				flex: 1 1 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
			}
		}
	}
}

.listing--design {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-top: 100px;
	margin-bottom: -140px;

	&>.listing__item {
		margin-bottom: 140px;
	}

	@include media-up(xl) {
		$gutter: 70px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			@include as-col(3, 12, $gutter);

			&.large {
				@include as-col(6, 12, $gutter);
			}
		}
	}

	@include media-between(md, lg) {
		$gutter: 60px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			@include as-col(3, 12, $gutter);

			&.large {
				@include as-col(6, 12, $gutter);
			}
		}
	}

	@include media-between(sm, md) {
		$gutter: 50px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			@include as-col(3, 12, $gutter);

			&.large {
				@include as-col(6, 12, $gutter);
			}
		}
	}

	@include media-between(xs, sm) {
		$gutter: 40px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			@include as-col(6, 12, $gutter);

			&.large {
				@include as-col(12, 12, $gutter);
			}
		}
	}

	@include media-down(xs) {
		$gutter: 30px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;

		&>.listing__item {
			@include as-col(6, 12, $gutter);

			&.large {
				@include as-col(12, 12, $gutter);
			}
		}
	}
}
