.section--products-detail-nav {

	@include media-down(xs) {
		display: none;
	}

}

.nav--products-detail {
	@extend %nav;
	position: relative;
	padding: 10px 0;
	z-index: 2000;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -50%;
		width: 200%;
		height: 100%;
		background: $background;
		border-bottom: 1px solid #D1CDCA;
	}

	&>.nav__item {
		font-size: 18px;
		line-height: 1;
		letter-spacing: 0.05em;
		background: transparent;

		&>a,
		&>span,
		&>button {
			padding: 10px 0;
			font-size: 16px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: -10px;
				width: 100%;
				height: 4px;
				background: $background-negative;
				transform: scale(0, 1);
				transform-origin: center;
				transition: transform ease-in-out $fast;
			}
		}

		&:hover,
		&.active {

			&>a,
			&>span,
			&>button {
				&:after {
					transform: scale(1, 1);
				}
			}
		}
	}

	&>.nav__item--shop {

		&>a,
		&>span,
		&>button {
			font-size: 14px;
			text-transform: uppercase;
			padding: 10px 20px;

			&:after {
				display: none;
			}

			&,
			&:link,
			&:active,
			&:focus,
			&:visited,
			&:hover {
				background: #646464;
				color: $foreground-negative;
			}
		}
	}

	@include media-up(md) {
		justify-content: center;

		&>.nav__item+.nav__item {
			margin-left: 60px;
		}
	}

	@include media-down(sm) {
		flex-direction: column;
		text-align: center;

		&>.nav__item {
			margin-bottom: 2px;
			background: $background-tertiary;
		}
	}
}

.card--hero-products-detail {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	.card__picture {
		@extend %btn;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: visible;
		width: 100%;

		&>img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.card__content {
		width: 100%;
	}

	.card__title {
		margin-bottom: 10px;
		font-family: $font-secondary;
		line-height: 1.0;
		letter-spacing: -0.015em;
		text-transform: uppercase;

		&>em {
			display: block;
			margin-bottom: 72px;
			font-family: $font-secondary;
			font-style: normal;
			line-height: 1.2;
			letter-spacing: 0.03em;
			color: #6A6A6A;
		}
	}

	.card__abstract {
		font-size: 18px;
		letter-spacing: 0.03em;
		color: #6A6A6A;
	}

	.btn--more {
		@extend %btn-primary;
	}

	.card__cta {
		margin-top: 40px;
	}

	.card__designer {
		margin-top: 100px;
		font-size: 14px;
		// text-align: right;
		letter-spacing: 0.05em;
		color: #6A6A6A;
	}

	@include media-up(md) {
		margin-bottom: 60px;
		justify-content: flex-start;

		.card__picture {
			position: relative;
			// max-height: calc(100vh - 135px);
		}

		.card__content {
			position: absolute;
			height: 100%;
			max-height: calc(100vh - 135px);
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.card__title {
			font-size: 72px;

			&>em {
				font-size: 48px;
			}
		}

		.card__cta {
			display: flex;
			align-items: center;

			.btn--more {
				flex: 1 1 280px;
				min-width: 0 !important;
			}
		}

		.btn--more+.btn--more {
			margin-left: 20px;
		}
	}

	@include media-up(xl) {

		.card__title {
			font-size: 96px; // 140px;
		}

	}

	@include media-down(sm) {
		justify-content: center;

		.card__picture {
			position: relative;
		}

		.card__content {
			position: relative;
			padding: 80px 0;
		}

		.card__title {
			font-size: 64px;
		}

		.card__cta {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 60px;

			.btn--more {
				min-width: 280px;
			}
		}

		.btn--more+.btn--more {
			margin-top: 20px;
		}
	}
}

.section--hero-products-detail {

	@include media-up(md) {
		padding: 0 0 80px 0;
		margin-top: -78px;
	}

	@include media-down(sm) {
		padding: 0 0 40px 0;
	}
}

.section--products-detail-gallery {
	padding: 0 0 0 0;
}

.section--details {
	padding: 120px 0 120px 0;

	.title {
		margin-bottom: 40px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: -0.008em;
		text-transform: uppercase;
	}

	.picture {
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.description {
		font-size: 18px;
		text-align: center;
	}
}

.card--version {
	@extend %btn;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.card__picture {
		margin-bottom: 30px;
		border: 1px solid rgba(209, 205, 202, 0.5);

		/*
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000000;
			opacity: 0.1;
		}
		*/

		.badge--configure {
			position: absolute;
			display: flex;
			align-items: center;
			top: 10px;
			right: 10px;
			font-size: 14px;
			text-align: center;
			color: #6A6A6A;

			svg {
				margin-right: 7px;
				width: 14px;
				height: 14px;
				fill: #A19C96;
			}
		}
	}

	.badge--buy {
		position: absolute;
		display: flex;
		align-items: center;
		top: -10px;
		right: -10px;
		padding: 10px 20px;
		font-size: 12px;
		line-height: 1;
		text-align: center;
		background: #6A6A6A;
		color: white;
	}

	.card__content {
		width: 100%;
	}

	.card__title {
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 1.2;
		text-align: center;
		text-transform: uppercase;

		&>em {
			display: block;
			margin-bottom: 20px;
			color: #6A6A6A;
			font-style: normal;
		}
	}

	.card__abstract {
		margin-bottom: 20px;
		font-size: 14px;
		letter-spacing: 0.03em;
		text-align: center;
		color: #6A6A6A;
	}

	.card__measures {
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
	}

	.card__cta {
		margin-top: 30px;
	}

	.btn--configure,
	.btn--download {
		display: flex;
		width: 100%;
		min-width: 0 !important;
	}

	.btn--download {
		@extend %btn-secondary;
	}

	@include media-up(md) {
		height: 100%;

		.card__picture {
			@include aspect-clip(1, 1);
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;

			&>img {
				width: auto;
				max-height: 200px;
				max-width: 100%;
				object-fit: none;
				height: auto;
				top: auto;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.card__content {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
		}

		.card__abstract {
			flex-grow: 1;
		}
	}

	@include media-down(sm) {

		.card__picture {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			padding: 10px;
		}
	}
}

.listing--versions {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&>.listing__item {
		margin-bottom: 100px;
	}

	@include media-up(xl) {
		$gutter: 70px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			@include as-col(3, 12, $gutter);
		}
	}

	@include media-between(md, lg) {
		$gutter: 60px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			@include as-col(3, 12, $gutter);
		}
	}

	@include media-between(sm, md) {
		$gutter: 50px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			@include as-col(4, 12, $gutter);
		}
	}

	@include media-between(xs, sm) {
		$gutter: 40px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			@include as-col(6, 12, $gutter);
		}
	}

	@include media-down(xs) {
		$gutter: 30px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;

		&>.listing__item {
			@include as-col(12, 12, $gutter);
			margin-bottom: 70px;
		}
	}
}

.section--versions {
	padding: 120px 0 240px 0;

	.title {
		margin-bottom: 60px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: -0.008em;
		text-transform: uppercase;
	}

	.picture {
		margin-bottom: 20px;
	}

	.btn--more,
	.btn--configure {
		@extend %btn-primary;
	}

	.group--cta {
		display: flex;
		align-items: center;
		margin-top: 40px;

		@include media-up(sm) {
			justify-content: center;
		}

		@include media-up(xl) {

			&>*+* {
				margin-left: 70px;
			}
		}

		@include media-between(lg, xl) {

			&>*+* {
				margin-left: 60px;
			}
		}

		@include media-between(md, lg) {

			&>*+* {
				margin-left: 50px;
			}
		}

		@include media-between(sm, md) {

			&>*+* {
				margin-left: 40px;
			}
		}

		@include media-down(xs) {
			flex-direction: column;

			&>*+* {
				margin-top: 30px;
			}
		}
	}
}

.card--product-material {
	display: flex;
	flex-direction: column;
	align-items: center;

	.card__picture {
		@include aspect-clip(1, 1);
		margin-bottom: 10px;
	}

	.card__title {
		font-size: 14px;
		line-height: 1.2;
		text-align: center;
		text-transform: uppercase;

		&>em {
			font-style: normal;
			color: #6a6a6a;
			font-size: 0.8em;
		}
	}
}

.listing--product-materials {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&>.listing__item {
		margin-bottom: 100px;
	}

	@include media-up(xl) {
		$gutter: 70px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			@include as-col(2, 12, $gutter);
		}
	}

	@include media-between(md, lg) {
		$gutter: 60px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			@include as-col(2, 12, $gutter);
		}
	}

	@include media-between(sm, md) {
		$gutter: 50px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			@include as-col(3, 12, $gutter);
		}
	}

	@include media-between(xs, sm) {
		$gutter: 40px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;
		align-items: stretch;

		&>.listing__item {
			@include as-col(3, 12, $gutter);
		}
	}

	@include media-down(xs) {
		$gutter: 30px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;

		&>.listing__item {
			@include as-col(4, 12, $gutter);
			margin-bottom: 70px;
		}
	}
}

.section--product-materials {
	padding: 160px 0 160px 0;
	background: #F8F7F7;

	.title {
		margin-bottom: 40px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: -0.008em;
		text-transform: uppercase;
	}

	.picture {
		margin-bottom: 20px;
	}

	.description {
		font-size: 16px;
		text-align: center;
	}

	.btn--more {
		@extend %btn-primary;
	}

	.group--cta {
		display: flex;
		align-items: center;
		margin-top: 40px;

		@include media-up(sm) {
			justify-content: center;
		}

		@include media-up(xl) {

			&>*+* {
				margin-left: 70px;
			}
		}

		@include media-between(lg, xl) {

			&>*+* {
				margin-left: 60px;
			}
		}

		@include media-between(md, lg) {

			&>*+* {
				margin-left: 50px;
			}
		}

		@include media-between(sm, md) {

			&>*+* {
				margin-left: 40px;
			}
		}

		@include media-down(xs) {
			flex-direction: column;

			&>*+* {
				margin-top: 30px;
			}
		}
	}
}

.section--insights {
	padding: 200px 0 0 0;

	.title {
		margin-bottom: 115px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: -0.008em;
		text-transform: uppercase;
	}

	@include media-down(xs) {
		.title {
			font-size: 32px;
			margin-bottom: 80px;
		}
	}
}

.group--insights {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include media-down(xs) {
		margin-bottom: 60px;
	}

	.label {
		margin-bottom: 48px;
		font-size: 16px;
		text-align: center;
	}

	.btn--more {
		@extend %btn-primary;
	}
}

.group--share--centered {
	justify-content: center;
}

.hidden {
	display: none;
}
