.section--products-configure {
	// padding: 240px 0;

	iframe {
		position: relative;
		border: none;
		background: none;
		width: 100%;
		overflow: hidden !important;

		// min-height: 1024px;

		.header {
			display: none;
		}
	}

	@include media-up(lg) {

		iframe {
			height: calc(100vh - 280px) !important;
		}

	}

	@include media-down(md) {

		&>.container {
			padding: 0;
		}

		iframe {
			height: calc(100vh - 220px) !important;
		}

	}
}
