.section--products-configure {
	// padding: 240px 0;

	iframe {
		position: relative;
		border: none;
		background: none;
		width: 100%;
		height: calc(100vh - 280px) !important;
		overflow: hidden !important;

		// min-height: 1024px;

		.header {
			display: none;
		}
	}
}
