.modal--social-login {
	background: $background;
	display: flex;
	width: 100%;
	max-width: 840px;

	.modal__content {
		position: relative;
		display: block;
	}

	.modal__header {
		position: absolute;
		z-index: 1;
		padding: 10px;
		width: 100%;
		height: 50px;
	}

	.modal__inner {
		display: block;
		padding-top: 50px;
		padding-bottom: 80px;
	}

	.section--form {
		margin-bottom: 0;
		padding: 0;
		border: none;
		background: none;
	}

	.title {
		margin-bottom: 25px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		text-align: left;
		color: #000000;
	}

	.subtitle {
		margin-bottom: 25px;
		font-family: $font-secondary;
		font-size: 32px;
		line-height: 1;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		text-align: left;
		color: #000000;
	}

	.abstract {
		margin-bottom: 25px;
		font-size: 16px;
	}

	.btn--close {
		@extend %btn;
	}

	.btn--link {
		@include btn(transparent, $foreground, $background-tertiary, $foreground, $background-secondary, #000000);
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 5px 0;
		height: 100%;
		min-width: 180px;
		padding: 15px 25px;
		font-size: 14px;
		line-height: 1;
		text-align: center;
		letter-spacing: 0.043em;
		text-transform: uppercase;
		border: 2px solid $foreground;
	}

	@include media-up(md) {
		justify-content: space-between;
		align-items: stretch;
		max-height: calc(100vh - 200px);

		.modal__content {
			flex: 1 1 50%;
			height: 600px;
			max-height: 100%;
		}

		.modal__header {
			.btn--close {
				padding: 10px 20px 0;
			}
		}

		.modal__inner {
			height: 600px;
			max-height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			padding-left: 70px;
			padding-right: 70px;
			@include scrollbar();
		}
	}

	@include media-down(sm) {
		flex-direction: column;
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		@include scrollbar();

		.modal__inner {
			padding-bottom: 120px;
		}
	}
}
