.modal--user {
	background: $background;
	display: flex;
	width: 100%;
	max-width: 840px;

	.modal__picture {
		position: relative;
		background: $background-tertiary;
		display: none;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000000;
			opacity: 0.03;
		}

		&>img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.modal__content {
		position: relative;
		display: block;
	}

	.modal__header {
		position: absolute;
		z-index: 1;
		padding: 10px;
		width: 100%;
		height: 50px;
	}

	.modal__inner {
		display: block;
		// padding-top: 50px;
		// padding-bottom: 80px;
		padding: 0;
	}

	.modal__wrapper {
		padding: 60px 40px;
	}

	.modal__wrapper--negative {
		padding: 60px 40px;
		background: $background-tertiary;
	}

	/*
	.listing--form-compact {
		$gutter: 30px;
		display: block;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;

		&>div {
			@include as-col(12, 12, $gutter);
		}
	}
	*/

	@include media-up(md) {
		justify-content: space-between;
		align-items: stretch;
		max-height: calc(100vh - 200px);
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 0 20px 40px -10px rgba(53, 48, 44, 0.35);

		.modal__picture {
			flex: 1 1 50%;
		}

		.modal__content {
			flex: 1 1 50%;
			height: 600px;
			max-height: 100%;
		}

		.modal__header {
			.btn--close {
				padding: 10px 20px 0;
			}
		}

		.modal__inner {
			height: 600px;
			max-height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			// padding-left: 70px;
			// padding-right: 70px;
			padding: 0;
			@include scrollbar();
		}

		.modal__wrapper {
			padding: 60px 40px;
		}

		.modal__wrapper--negative {
			padding: 60px 40px;
		}
	}

	@include media-down(sm) {
		flex-direction: column;
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		@include scrollbar();

		.modal__picture {
			@include aspect-clip(2, 1);
		}

		.modal__inner {
			// padding-bottom: 120px;
			padding: 0;
		}

		.modal__wrapper {
			padding: 60px 0;

			&:last-child {
				padding-bottom: 120px;
			}
		}

		.modal__wrapper--negative {
			padding: 60px 0;

			&:last-child {
				padding-bottom: 120px;
			}
		}
	}
}

.modal--user,
.section--auth {

	.section--form {
		margin-bottom: 0;
		padding: 0;
		border: none;
		background: none;
	}

	.form .group--info {
		text-align: left;
	}

	.form .group--cta {
		justify-content: flex-start;
	}

	.title,
	.section--form .title {
		margin-bottom: 25px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		text-align: left;
		color: #000000;
	}

	.subtitle,
	.section--form .subtitle {
		margin-bottom: 25px;
		font-family: $font-secondary;
		font-size: 32px;
		line-height: 1;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		text-align: left;
		color: #000000;
	}

	.abstract,
	.section--form .abstract {
		margin-bottom: 25px;
		font-size: 16px;
	}

	.btn--close {
		@extend %btn;
	}

	.btn--link {
		@include btn(transparent, $foreground, $background-tertiary, $foreground, $background-secondary, #000000);
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 5px 0;
		height: 100%;
		min-width: 180px;
		padding: 15px 25px;
		font-size: 14px;
		line-height: 1;
		text-align: center;
		letter-spacing: 0.043em;
		text-transform: uppercase;
		border: 2px solid $foreground;

		/*
		@extend %btn-link;
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 4px;

		&:after {
			transform: scale(0, 1);
		}

		&:hover,
		&.active {
			&:after {
				transform: scale(1, 1);
			}
		}
		*/
	}
}

.section--auth {
	padding: 100px 0;

	.row {
		align-items: stretch;

		&>div {
			display: flex;
			flex-direction: column;
			margin: 60px 0;

			.divline {
				margin: 0 0 40px 0;
				// justify-content: flex-start;
			}

			.title {
				flex-grow: 1;
			}
		}
	}

	.picture {
		height: 100%;
	}
}

.divline {
	display: flex;
	// justify-content: center;
	justify-content: flex-start;

	&:after {
		content: '';
		background: $background-negative;
		width: 80px;
		height: 1.99px;
	}

	@include media-up(md) {
		margin: 60px 0;

		&:first-child {
			margin-top: 0;
		}
	}

	@include media-down(sm) {
		margin: 40px 0;

		&:first-child {
			margin-top: 0;
		}
	}
}
