.filters__select {
	position: relative;
}

.group--filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 0 20px;
	color: $foreground-negative;
	cursor: pointer;

	&>.label {
		flex: 1 1 auto;
		width: 1px;
		max-width: 100%;
		margin: 0;
		padding: 0 20px 0 0;
		background: none;
		border: none;
		outline: none;
		appearance: none;
		font-family: $font-primary;
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 0.05em;
		line-height: 1.5;
		text-transform: uppercase;
		color: $foreground-negative;
		line-height: 1;
	}

	svg {
		width: 24px;
		height: 24px;
		margin-right: -7px;
		fill: $foreground-tertiary;
	}

	.close-sm {
		width: 24px;
		height: 24px;
		padding: 8px;
	}

	@include media-down(xs) {
		margin: 0 0 10px 0;
	}
}

.options {
	position: absolute;
	top: 100%;
	width: 100%;
	max-height: 350px;
	overflow-x: hidden;
	overflow-y: auto;
	@include scrollbar();
	z-index: 10;
	background: $background;
	box-shadow: 0 20px 20px -5px $shadow;

	&>.category {
		position: relative;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 0 15px;
		font-size: 14px;
		color: $foreground-secondary;
		z-index: 2;
	}

	&--with-icons {
		&>.category {
			padding: 0 40px 0 60px;
		}
	}

	@include media-down(sm) {
		left: 0;
		top: 56px;
		width: 100%;
	}
}

.nav--options {
	@extend %nav-reset;

	&>li {
		position: relative;
		display: block;
		flex: 1 1 auto;
		margin-bottom: 15px;

		&>a,
		&>span {
			@extend %nav-item;
			width: 100%;
			padding: 0 15px;
			font-family: $font-secondary;
			font-size: 16px;
			line-height: 1;
			text-transform: uppercase;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			opacity: 0;
			animation-name: nav-dropdown;
			animation-duration: 350ms;
			animation-fill-mode: forwards;

			.icon:first-child {
				transition: ease-in-out 350ms;
				transition-property: fill;
			}

			background: $background;
			color: $foreground;
		}

		&:hover,
		&.active {

			&>a,
			&>span {
				background: $background-disabled;
			}
		}

		&.disabled {
			pointer-events: none;
			// display: none;
		}

		&.disabled,
		&.empty {

			&>a,
			&>span {
				color: $foreground-tertiary;
			}
		}
	}

	&>li+li {
		border-top: 1px solid $background-disabled;
	}

	@include media-up(md) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;

		&>li {

			&>a,
			&>span {

				.icon:first-child {
					margin-left: -10px;
					margin-right: 5px;
					width: 30px;
					height: 30px;
				}
			}
		}
	}

	@include media-down(md) {

		&>li {

			&>a,
			&>span {
				.icon:first-child {
					margin-left: -10px;
					margin-right: 5px;
					width: 30px;
					height: 30px;
				}
			}
		}
	}

	@include media-down(sm) {
		display: block;
	}

	@include animation-delay(li, 20);
}
