.flex-table {
	display: flex;
	flex-direction: column;
	margin: 40px 0;
	width: 100%;

	&>.tr {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&>.th,
		&>.td {
			flex: 1 1 12.5%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding: 20px 0;
			font-size: 17px;

			&:last-child {
				align-items: flex-end;
			}
		}

		&>.th {
			font-size: 24px;
			text-transform: uppercase;
			padding-bottom: 10px;
		}

		&>.td {
			border-bottom: 1px solid $border;

			&:first-child {
				font-weight: 900;
			}
		}
	}
}

.flex-table__sm {
	margin: 20px 0;

	&>.tr {

		&>.th,
		&>.td {
			padding: 10px 0;
			font-size: 14px;
		}

		&>.th {
			font-size: 14px;
			padding-bottom: 10px;
		}

		&>.td {
			border-bottom: 1px solid $background-tertiary;
		}
	}
}
